


{% comment %} Slide testimonios {% endcomment %}

<div class="text-center mb-8 mt-10">
    <h2 class="text-3xl font-extrabold text-gray-900">Testimonials</h2>
    <p class="mt-4 text-gray-500">Discover the stories of satisfaction and success from our community.</p>
</div>

<div class=" ml-[0.4em]">
<div class="swiper myTestimonialsSwiper mt-10">
    <div class="swiper-wrapper swiper-wrapper-testimonio">
        <!-- Testimonios van aquí -->
        <div class="swiper-slide swiper-testimonio-slide  p-8 rounded-lg shadow-lg">
            <div class="text-[#00796b] text-3xl">“</div>
            <p class="mt-4 text-gray-800 leading-relaxed">Using the Speedster Series board transformed my projects. Its reliability and performance are unmatched. I highly recommend it to any tech enthusiast looking for quality and innovation.</p>
            <div class="mt-6">
                <p class="text-lg font-semibold text-gray-900">Alex Johnson</p>
                <p class="text-gray-500">Electronics Hobbyist</p>
            </div>
        </div>

        <div class="swiper-slide swiper-testimonio-slide bg-[#f7f8fa] p-8 rounded-lg shadow-lg">
            <div class="text-[#00796b] text-3xl">“</div>
            <p class="mt-4 text-gray-800 leading-relaxed">Using the Speedster Series board transformed my projects. Its reliability and performance are unmatched. I highly recommend it to any tech enthusiast looking for quality and innovation.</p>
            <div class="mt-6">
                <p class="text-lg font-semibold text-gray-900">Alex Johnson</p>
                <p class="text-gray-500">Electronics Hobbyist</p>
            </div>
        </div>
        <!-- Repite para cada testimonio -->
    </div>
</div>
</div>
