<div class="h-full flex items-center justify-center py-12 px-6 md:px-4 lg:px-8" x-data="{ loginForm: true, pwRecoverForm: false }">
    <div x-show="loginForm" class="max-w-md w-full space-y-8">
        <div>
            <h1 class="text-center text-3xl font-bold mt-6">Iniciar sesión en su cuenta</h1>
        </div>
        <div class="mt-8">
            {% form 'customer_login' %}
                {% if form.errors %}
                    <div class="relative border border-red-400 bg-red-100 text-red-700 px-4 py-3" role="alert">
                        <strong class="font-bold">¡Error!</strong>
                        <p class="block sm:inline">{{ form.errors | default_errors }}</p>
                    </div>
                {% endif %}

                <div class="my-2">
                    <label for="email_address" class="sr-only">Dirección de correo electrónico</label>
                    <input type="email"
                        name="customer[email]"
                        id="email_address"
                        autocomplete="email"
                        class="relative block w-full px-3 py-2 border rounded-md"
                        placeholder="Dirección de correo electrónico"
                    >
                </div>

                {% if form.password_needed %}
                    <div class="my-2">
                        <label for="password" class="sr-only">Contraseña</label>
                        <input type="password"
                            name="customer[password]"
                            id="password"
                            autocomplete="current-password"
                            class="relative block w-full px-3 py-2 border rounded-md"
                            placeholder="Contraseña"
                        >
                    </div>
                {% endif %}

                <div class="flex items-center justify-between my-2 text-sm">
                    <a @click.prevent="loginForm = false; pwRecoverForm = true" href="#" class="underline text-gray-500 hover:text-gray-900">
                        ¿Olvidó su contraseña?
                    </a>
                    <a href="{{ routes.account_register_url }}" class="underline text-gray-500 hover:text-gray-900">
                        Crear cuenta
                    </a>
                </div>
                <div>
                    <button type="submit" class="relative w-full py-2 px-4 text-sm font-medium text-white bg-[#0e2129] hover:bg-opacity-90 rounded-md">
                        Iniciar sesión
                    </button>
                </div>
            {% endform %}
        </div>
        
        {% if shop.checkout.guest_login %}
            <div class="mt-6">
                <div class="relative">
                    <div class="absolute inset-0 flex items-center">
                        <div class="w-full border-t border-gray-300"></div>
                    </div>
                    <div class="relative flex justify-center text-sm">
                        <span class="px-2 bg-white text-gray-500">O</span>
                    </div>
                </div>

                <div class="mt-6">
                    <h2 class="text-center text-lg font-medium text-gray-900">Continuar como invitado</h2>
                </div>

                {% form 'guest_login' %}
                    <div class="mt-4">
                        <button type="submit" class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-[#0e2129] bg-white hover:bg-gray-50 border-[#0e2129]">
                            Continuar sin cuenta
                        </button>
                    </div>
                {% endform %}
            </div>
        {% endif %}

        <div class="mt-4">
            <a href="{{ routes.account_register_url }}" class="block w-full text-center py-2 px-4 text-sm font-medium text-[#0e2129] bg-white border border-[#0e2129] hover:bg-gray-50 rounded-md">
                Registrarse
            </a>
        </div>
    </div>
    
    <div x-show="pwRecoverForm" class="max-w-md w-full space-y-8" style="display: none;">
        <div>
            <h1 class="text-center text-3xl font-bold mt-6">Recuperar su contraseña</h1>
        </div>
        <div class="mt-8">
            {% form 'recover_customer_password' %}
                {% if form.errors %}
                    <div class="relative border border-red-400 bg-red-100 text-red-700 px-4 py-3" role="alert">
                        <strong class="font-bold">¡Error!</strong>
                        <p class="block sm:inline">{{ form.errors | default_errors }}</p>
                    </div>
                {% endif %}

                <div class="my-2">
                    <label for="email" class="sr-only">Dirección de correo electrónico</label>
                    <input type="email"
                        name="email"
                        id="email"
                        autocomplete="email"
                        class="relative block w-full px-3 py-2 border rounded-md"
                        placeholder="Dirección de correo electrónico"
                    >
                </div>

                <div>
                    <button type="submit" class="relative w-full py-2 px-4 text-sm font-medium text-white bg-[#0e2129] hover:bg-opacity-90 rounded-md">
                        Recuperar contraseña
                    </button>
                </div>

                <div class="mt-8 text-sm">
                    <a @click.prevent="loginForm = true; pwRecoverForm = false" href="#" class="underline text-gray-500 hover:text-gray-900">Volver al inicio de sesión</a>
                </div>
            {% endform %}
        </div>
    </div>
</div>