/* swiper-custom.css */

.contenedor-swiper {
    position: relative;
    height: 100%;/* Define una altura fija para el contenedor */ /* Define una altura fija para el contenedor */
    margin: 0;
    padding: 0;
    margin-right: 0.2em;
    margin-left: 0.2em;
    margin-top: -5em;
    z-index: 100;
  }
  
  .swiper {
    width: 100%;
    height: 300px !important; /* Asegura que Swiper ocupe toda la altura del contenedor */
    padding-bottom: 1em;
  }
  
  .swiper-slide {
    border-radius: 1em;
    text-align: center;
    font-size: 18px;
    background: white;
    
    /* Centrar contenido en las diapositivas */
    display: flex;
    justify-content: center;
    align-items: center;
   
   
  }
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* Clases de el swiper de texto  */

  .myTextSwiper{
    width: 100%;
    height: auto !important; /* Asegura que Swiper ocupe toda la altura del contenedor */
    padding-bottom: 0 !important;
   
    
  }

  .contenedor-swiper-texto{
    background: #0E2129 !important;
    position: relative;
    height: 100%;/* Define una altura fija para el contenedor */ /* Define una altura fija para el contenedor */
    margin: 0;
    padding: 0;

    z-index: 10;
  }

  .swiper-text-slide{
    border-radius: 0 !important;
    background: #0E2129 !important;
    color: white;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
  }



   /* Clases de el swiper de testimonios  */

   .myTestimonialsSwiper{
    width: 100%;
    height: auto !important; /* Asegura que Swiper ocupe toda la altura del contenedor */
    padding-bottom: 0 !important;
   
   
   
    
  }
  .swiper-testimonio-slide {
    flex-direction: column !important;
    border-radius: 10px !important; /* Bordes redondeados */
    background-color: #f7f8fa !important; /* Fondo gris claro */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important; /* Sombra suave */
    padding: 20px !important; /* Espaciado interior */
}

/* Swiper caracteristicas */

.swiper-caracteristicas{
  border-radius: 0px !important;

  
}

.myFeatureSwiper{
  width: 100%;
  height: auto !important; /* Asegura que Swiper ocupe toda la altura del contenedor */
  padding-bottom: 50px !important;  
}


/* Estilos para los puntitos de paginación */
.swiper-pagination-bullet {
  background-color: #00796b; /* Color base de los puntitos */
  opacity: 1; /* Asegura que los puntos sean opacos */
}

/* Estilos para el puntito activo */
.swiper-pagination-bullet-active {
  background-color: #004d40; /* Color diferente para el puntito activo */
}


/* swiper del producto */

.productSwiper{
  
  height: 600px !important;
}

/* Para ocultar los botones cuando están deshabilitados */
.swiper-button-disabled {
  opacity: 0 !important;  /* Mantén la opacidad en 0 */
  pointer-events: none;   /* Desactiva los eventos del cursor */
}

/* Asegura que el botón aparezca al hacer hover, incluso si está deshabilitado */
.group:hover .swiper-button-prev,
.group:hover .swiper-button-next {
  opacity: 1 !important;
}

.swiper-button-next, .swiper-button-prev {
 
  color: #1D495B; /* Color de fondo de los botones */

}


